<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title th:text="#{application.title}">Laguna Portal</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" href="../../css/main.css" th:href="@{/css/main.css}" />
    </head>
    <body>
        <div th:fragment="logout" class="logout"
             sec:authorize="isAuthenticated()">
            Logged user: <span sec:authentication="name">Bob</span> |
            Roles: <span sec:authentication="principal.authorities">[ROLE_USER, ROLE_ADMIN]</span> |
            <!--/* When using CSRF this needs to be a POST */-->
            <form th:action="@{/logout}" method="post" style="display:inline"><input type="submit" value="Logout"/></form>
        </div>
        <h1 th:text="#{application.title}">Laguna Portal</h1>
        <p>Some content goes here</p>
        <h2>Exception handling</h2>
        <ul>
            <li>You can <a href="error.html" th:href="@{/simulateError.html}">simulate an exception</a> to see custom ErrorPage.</li>
        </ul>
    </body>
</html>
