<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="#{application.title}">Laguna Portal</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" href="../../css/main.css" th:href="@{/css/main.css}" />
	</head>
    <body>
        <div id="test">TEST</div>
        <h1 th:text="#{login.page.name}">Login page</h1>
        <a th:href="@{/changeLanguage.html?userLanguage=sr&page=login}">
            <img src="../../images/sr-flag.png" th:src="@{/images/sr-flag.png}"/>
        </a>
        <a th:href="@{/changeLanguage.html?userLanguage=en&page=login}">
            <img src="../../images/en-flag.png" th:src="@{/images/en-flag.png}"/>
        </a>
        <p th:if="${loginError}" class="error">Wrong user or password</p>
        <form th:action="@{/login.html}" method="post">
            <label for="username">Username</label>:
            <input type="text" id="username" name="username" autofocus="autofocus" /> <br />
            <label for="password">Password</label>:
            <input type="password" id="password" name="password" /> <br />
            <input type="submit" value="Log in" />
        </form>
        <p><a href="../index.html" th:href="@{/index.html}">Back to home page</a></p>
    </body>
</html>
