<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%d{DATE} [%t] %-5level %logger{36} [user:%X{username}] - %msg%n" />
		</Console>
	</Appenders>
	<Loggers>
		<Root level="error">
			<AppenderRef ref="Console" />
		</Root>

		<Logger name="net.ivica.reservations" level="debug" additivity="false">
			<AppenderRef ref="Console" />
		</Logger>

		<Logger name="jdbc.sqlonly" level="error" additivity="false">
			<AppenderRef ref="Console" />
		</Logger>
		<Logger name="jdbc.sqltiming" level="error" additivity="false">
			<AppenderRef ref="Console" />
		</Logger>
		<Logger name="jdbc.audit" level="error" additivity="false">
			<AppenderRef ref="Console" />
		</Logger>
		<Logger name="jdbc.resultset" level="error" additivity="false">
			<AppenderRef ref="Console" />
		</Logger>
		<Logger name="jdbc.connection" level="error" additivity="false">
			<AppenderRef ref="Console" />
		</Logger>
	</Loggers>
</Configuration>